Repository flasco/react-next-bolierplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -vq

fix: format code
  pages/index.tsx
  pages/topic/index.scss
  pages/topic/index.tsx
Due: eslint, sass-lint -vq

fix: format code
  app/middleware/json.js
Due: eslint

fix: 完善基础设置
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint

fix: 添加code-lint 部分
  README.md
Due: none

docs(readme): 补充readme
  README.md
  README_CN.md
Due: none

fix: use workspace settings
  .vscode/settings.json
  README.md
  README_CN.md
Due: none

docs: add necessary extension
  README.md
  README_CN.md
Due: none

fix: 修复statusCode异常的问题
  app/server.js
Due: eslint

fix: update scripts
  package.json
Due: none

fix: 屏蔽next默认生成的路由映射, 完全自定义
  app/server.js
Due: eslint

fix: 更优雅的方式实现完全自定义路由
  app/server.js
  next.config.js
Due: eslint

fix: add webpack path alias
  .sass-lint.yml
  next.config.js
  tsconfig.json
Due: eslint

docs: 补充文档
  README.md
  README_CN.md
Due: none

Path conditions:
  eslint: any of: **/*.{js,ts,tsx}
  sass-lint -vq: any of: **/*.scss
